<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_digginroom_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_digginroom_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigginRoom"
        tools:targetApi="31">
        <activity
            android:name=".feature.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.genretaste.GenreTasteActivity"
            android:exported="true" />
        <activity
            android:name=".feature.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".feature.scrap.activity.ScrapListActivity"
            android:exported="true" />
        <activity
            android:name=".feature.room.RoomActivity"
            android:exported="true" />
        <activity
            android:name=".feature.join.JoinActivity"
            android:exported="true" />
    </application>

</manifest>
